@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
/* font-family: 'Epilogue', sans-serif; */

/* Global element styling start */
html, body {
    min-width: 290px;
    font-family: 'Epilogue', sans-serif;
    color: black;
    background-color: rgb(251, 244, 230);
    line-height: 1.5;
}

/* Global element styling end */

/* class styling start */

/* class styling end */

/* id styling start */
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 300px;
    border-right: solid;
    border-color: black;
    border-width: 1px;
}
#main-doc {
    position: absolute;
    margin-left: 310px;

}
/* id styling end */

