@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');
/* font-family: 'Epilogue', sans-serif; */

/* Global element styling start */
html, body {
    min-width: 290px;
    font-family: 'Epilogue', sans-serif;
    color: black;
    background-color: rgb(251, 244, 230);
    line-height: 1.5;
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
  }

code {
    display: block;
    font-family: monospace;
    color: crimson;
    background-color: rgb(255, 235, 198);
    padding: 10px;
    margin: 10px;
}

p code {
    display: inline-block;
    font-family: monospace;
    color: crimson;
    background-color: rgb(255, 235, 198);
    padding: 0px;
    margin: 0px;
}
/* Global element styling end */

/* class styling start */

/* class styling end */

/* id styling start */
#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 300px;
    border-right: solid;
    border-color: black;
    border-width: 1px;
}
  
  #main-doc header {
      text-align: left;
      margin: 20px 0px 0px 0px;
  }

  #main-doc {
    position: absolute;
    margin-left: 310px;
    margin-bottom: 50px;
}

#main-doc a {
    color: rgb(27, 49, 92);
    text-decoration: underline;
}

#main-doc ol {
    list-style: circle;
    margin: 10px 0px 10px 40px;
}

#main-doc li {
    margin: 10px 0px 0px 0px;
}

#navbar ul {
    height: 90%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    text-align: left;
    font-size: 1.5rem;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #28292c;
    text-decoration: none;
    cursor: pointer;
  }


/* id styling end */
/* media calls */

@media only screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
      }
}

@media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
  
    code {
      margin-left: -20px;
      width: 100%;
      padding: 15px;
      padding-left: 10px;
      padding-right: 45px;
      min-width: 233px;
    }
  }
